* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'catfont';
    /* outline: 1px solid limegreen; */
}

.basketContainer {
    margin: 3rem;
    padding: 0.5rem;
    border: 1px white solid;  
    background-color: transparent;
    color: #fcfcfc;
    font-size: smaller;
    display: flex;
    flex-direction: column;
    
}

h2 {
    text-decoration: underline;
    font-size: 30px;
}


.catsName {
    font-size: 20px;
}

.catsBreed {
    font-size: 15px;
}

.catsPrice {
    text-decoration: underline;
    font-size: 15px;
}

.deleteButt {
    padding: 10px;
    background-color: #aeabab;
    color: #7e2121;
}

.deleteButt:hover {
    cursor: pointer;
    background-color: rgb(71, 177, 223);
}


