* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid limegreen; */
}

.card-container {
    background-color: whitesmoke;
    margin: 2rem;
    padding: 0.5rem;
    outline: 1px black solid;  
    box-shadow: 3px 6px;
    transition: 0.6s ease-in-out;
    font-family: 'catfont';

    width: 200px;
}

.card-container:hover {
    transform: scale(1.04);
    box-shadow: 2px 8px;
}

.card-image {
    height: 150px;
    overflow: hidden;
}

.card-image img {
    overflow: hidden;
    height: 200px;
    width: 200px;
}

.card-title {
    font-size: 25px;
    text-align: center;
}

p {
    text-align: center;
}

.addButton {
    padding: 10px;
    background-color: #aeabab;
    color: #7e2121;
}

.addButton:hover {
    cursor: pointer;
    background-color: rgb(71, 177, 223);
}
